body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: flex-start;
    padding: 0;
}
header, footer {
    background-color: #1f2937;
    color: #F9FAF8;
    margin: 0;
    padding: 20px;
    width: 100%;
}

.headerlinks {
    color: #F9FAF8;
}

.container {
    flex: 1;
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.section-1 {
    background-color: #1f2937;
    color: #F9FAF8;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.section-1 .imgbox {
    height: 200px;
    width: 200px;
    background-color: azure;
    margin: 10px;
    color: #1f2937;
 } 

footer {
    /* flex: 1; */
    bottom: 0;
}

